name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'master'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GOLANG_VERSION: 1.25.2
  CADDY_VERSION: 2.10.0

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  lint-docker:
      runs-on: ubuntu-latest
      name: Dockerfile lint
      steps:
          - run: echo "github ref is ${{ github.head_ref }} ${{ github.base_ref }}"
          - uses: actions/checkout@v6
          - uses: hadolint/hadolint-action@v3.3.0
            with:
              dockerfile: Dockerfile.goreleaser
          - uses: hadolint/hadolint-action@v3.3.0
            with:
              dockerfile: Dockerfile.goreleaser-debug

  lint-go:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GOLANG_VERSION }}
    - name: Verify dependencies
      run: go mod verify
    - run: go vet ./...
    - name: Check Format
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.4
        only-new-issues: true

  test-helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: azure/setup-helm@v4
        with:
          version: v3.17.3
      - name: Install helm-unittest plugin
        run: helm plugin install https://github.com/helm-unittest/helm-unittest
      - name: Run tests
        run: helm unittest deploy/gateway

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Run Tests
        run: make test-with-coverage

      # Integration tests
      - name: Setup Docker
        uses: docker/setup-docker-action@v4
      - name: Install Caddy
        run: |
          curl -fsSL https://github.com/caddyserver/caddy/releases/download/v${{ env.CADDY_VERSION }}/caddy_${{ env.CADDY_VERSION }}_linux_amd64.tar.gz | tar -xzv
          sudo mv caddy /usr/local/bin/
          caddy version
      - name: Run Caddy
        run: sudo caddy start
      - name: Map acme.test to 127.0.0.1
        run: echo "127.0.0.1 acme.test" | sudo tee -a /etc/hosts
      - name: Run Integration Tests
        run: make test-integration-with-coverage

      # Combined code coverage
      - name: Send coverage to Coveralls
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: |
          go install github.com/mattn/goveralls@latest
          make coverall

  build:
    runs-on: ubuntu-latest
    needs: [lint-docker, lint-go, test, test-helm]
    env:
      REGISTRY: ghcr.io/twingate
      DOCKER_BUILDX_CACHE: --cache-to type=gha,mode=max --cache-from type=gha
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GOLANG_VERSION }}

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Expose GitHub Runtime (ACTION_* env vars required for docker caching)
      uses: crazy-max/ghaction-github-runtime@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Install GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: "~> v2"
        install-only: true

    - name: Build or Publish
      env:
        VERSION_PRERELEASE: dev
      run: make build

    - name: Save docker images
      run: |
        docker save -o kubernetes-access-gateway-images.tar $(docker images --filter=reference='twingate/kubernetes-access-gateway:*' --format '{{.Repository}}:{{.Tag}}')

    - name: Upload docker images
      uses: actions/upload-artifact@v5
      with:
        name: docker-images
        path: kubernetes-access-gateway-images.tar

  test-e2e:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GOLANG_VERSION }}

    - name: Setup Docker
      uses: docker/setup-docker-action@v4

    - name: Download docker images
      uses: actions/download-artifact@v6
      with:
        name: docker-images

    - name: Load docker images
      run: |
        docker load -i kubernetes-access-gateway-images.tar

    - name: Install Caddy
      run: |
        curl -fsSL https://github.com/caddyserver/caddy/releases/download/v${{ env.CADDY_VERSION }}/caddy_${{ env.CADDY_VERSION }}_linux_amd64.tar.gz | tar -xzv
        sudo mv caddy /usr/local/bin/
        caddy version

    - name: Run Caddy
      run: sudo caddy start

    - name: Run E2E Tests
      run: make test-e2e
